.page-header {
    background-color: #15B097;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 5px 0px 10px 0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}


.page-selector {
    background-color: #513C2C;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0px 300px 70px 300px;
}

.goto-page h2, .goto-page h2 a, .goto-page h2 a:visited, .goto-page h2 a:active {
    color: #ffffff;
    text-align: center;
    font-size: 20pt;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    background-color: #ebe6ce;
}

.content {
    margin-left: 40px;
}

.cv {
    padding-top: 80px;
    width: 50%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Alata', serif;
}

.date {
    color: #828282;
}

.button {
    background-color: #747474;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.save {
    float: right;
    background-color: #008b00;
}

.delete {
    float: left;
    background-color: #cf0707;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.cv-section h2 {
    text-align: center;
}

.cv-section-body {
    font-size: 16pt;
    font-family: 'Noto Sans', sans-serif;
}

